* {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html {
    /* font size root */
    font-size: 12px;
}

/* the following adjusts according to the root */
h1 {
    /* 21px */
    font-size: 1.8rem; 
}

h2 {
    /* 18 px */
    font-size: 1.5rem;
}

    /* 15px */
h3 {
    font-size: 1.25rem;
}

.no-border:focus {
   outline: none!important;
   border:0!important;
}

a.edit_user:not([href]) {
    color: #007bff;
    cursor: pointer;
}

.product-card {
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,.3);
}

a {
    color: black;
    text-decoration: none !important;
    cursor: pointer;
}

card-title {
    color: black;
}

.circle {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.user-photo {
    max-width: 80px;
}

#product-review {
    resize: none;
    overflow: auto;
    width: 100%;
    outline: none;
}

a#btn_cart {
    display: hidden;
}


/* MODAL CONTAINER */
.modal-body {
    padding: 0!important;
    border:0!important;
}

/* ================================ MODALS =================================== */
input#login_username,
input#login_password,
input#register_email,
input#register_username,
input#register_password,
input#cpass {
    border: none!important;
    border-bottom: 1px solid black!important;
    padding: 0!important;
}

a#btn_view_login_password,
a#btn_view_registration_password,
a#btn_view_cpass {
    border: none!important;
    border-bottom: 1px solid black!important;
}

input.form-control:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border-bottom: 1px solid red!important;
}

div#login_image {
    /* background-image: url("../../app/assets/images/sample.jpg")!important; */

    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */

    /* Full height */
    height: 100%!important; 

    /* Center and scale the image nicely */
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

div#login_ad {
    background: green!important;
    height: 100%!important; 
    padding: 0!important;
}


/* BACKGROUND IMAGES TO DELETE ONCE FUNCTIONALITY IS AVAILABLE */

div#login_image {
    background-image: url("../../assets/images/sample.jpg")!important;
}