* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
          border-radius: 0 !important;
    /* font-family: 'Roboto-Regular', sans-serif; */
}

body{
    color:#3F3F3F;
    background-color: #f5f5f5;
    line-height: 1.35;
}

.white-bg {
    background-color:#ffffff!important;
}

.card {
    background-color: transparent!important;
}

.card-body {
    background-color: white!important;
}


h1, h2, h3, h4, h5 {
    /* font-family: 'Roboto-Regular', 'Tahoma', sans-serif!important; */
    font-family: 'Lato', sans-serif;
}

p, div, a, small, .small, button, .text-responsive {
    /* font-family: 'Open Sans', 'Tahoma', sans-serif!important; */
    font-family: 'Rubik', sans-serif;
}

/* FONT SIZE  & STYLE*/
html {
    /* font size root */
    font-size: 14.5px;
    /* background-color: #000000; */
}


/* TURN OFF ARROWS INSIDE INPUT FIELD NUM */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.livesearch-item:hover,
.livesearch-down-item:focus,
.livesearch-item:active {
        background:#f5f5f5;
    }


a.edit_user:not([href]) {
    color: #007bff;
    cursor: pointer;
}

.product-card {
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,.3);
}

a {
    color: black;
    text-decoration: none !important;
    cursor: pointer;
}

a:hover, input{
    text-decoration: none !important;
    color: inherit;
}

#website_name{
    font-size: 2.2rem;
}




card-title {
    color: black;
}

.circle {
    -webkit-clip-path: circle(46% at 50% 50%);
    clip-path: circle(46% at 50% 50%);
}

.profile_user_photo {
   width:100px;
   height:100px;
}



#product-review {
    resize: none;
    overflow: auto;
    width: 100%;
    outline: none;
}

a#btn_cart {
    display: hidden;
}

a.btn-border {
    border: 0.5px solid gainsboro!important;
}


.text-purple {
    color: #8e44ad!important;
}

.purple-link:focus,
.purple-link:hover {
    color: #8e44ad!important;
    font-weight: bolder!important;
}

.slick-slide
{
    width: 200px;
} 

div.card:hover {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2)!important; 
}

.text-gray {
    color: darkgray!important;
}





/* ================================ PRODUCT PAGE =================================== */



.seller_response_container::before {
    right: 89%;
}

#free-delivery-img {
    background-image: url("../images/free-delivery.png")!important; 
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 100%;
    padding: 15px;
    margin:0;
}

#btn-image {
    background-image: url("../images/shopping-cart-button.png")!important; 
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 100%;
    padding: 0;
    margin:0;
}


.btn-purple-reverse {
    background: white!important;
    border: 2px solid #8e44ad!important;
    color: #8e44ad!important;
    font-weight:500!important;
}

.btn-purple-reverse:hover {
    background: #8e44ad!important;
    border: 2px solid #8e44ad!important;
    color: white!important;
    font-weight:500!important;
}



/* #btn_order_confirmation:hover,
.back:hover {
    background: #edd4f9!important;
    border: 1px solid #c471ed!important;
    color: #9c5abd!important;
    font-weight:500;
}
    
#btn_order_confirmation,
.back {
    background:  #c471ed;
    color: white!important;
    font-weight:500;
} */




.btn-purple:hover  {
    background: white;
    border: 2px solid #8e44ad!important;
    color: #8e44ad!important;
    font-weight:500;
}

.btn-purple{
    background:  #8e44ad;
    /* border: 1px solid#894fa5!important; */
    border: 2px solid #8e44ad!important;
    color: white!important;
    
    font-weight:500;
}

.btn-disabled {
    background: transparent;
    border: 1px solid lightgray;
    color: gray;
    font-weight: 400;
}


.btn-red {
    background: #f64f59;
    border: white!important;
    color: white!important;
}

.btn-gray {
    /* background: white!important; */
    border: solid 1px lightgray!important;
    color: rgb(156, 154, 154)!important;
}

.btn-gray:hover {
    color:  #8e44ad!important;
   
} 

.text-red {
    color: #f64f59!important;
}

.product_thumbnail:hover,
.product_thumbnail:focus,
.product_thumbnail:active {
    border-style: solid!important;
    border: 2px solid white;
    outline: none!important;
    box-shadow: none!important;
}

/* STARS */
.star2x {
    content:'★';
    zoom:400%;
    color:gold!important;
}

.star2x-gray {
    content:'★';
    zoom:400%;
    color:lightgray!important;
}

.star {
    content:'★';
    zoom:120%;
    color:gold!important;
}

.star-gray {
    content:'★';
    zoom:120%;
    color:lightgray!important;
}
  
.star-container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: gold;
    zoom:100%;
    overflow: hidden;
}

.test-container {
    display: flex;
}

.stars-container-2 {
    position: relative;
    display: inline-block;
    color: transparent;
}

.stars-outer {
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    width: 65%;
    height: 18px;
}

.stars-outer::before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Font Awesome 5 Free';
    width: 100%;
    height: 18px;
    /* content: "\f005 \f005 \f005 \f005 \f005"; */
    content: '★★★★★';
    color: #cccccc;
}

.stars-inner {
    position: relative;
    height: 18px;
    width: 0%;
    /* width: 10%; */
    display: inline-block;
    overflow: hidden;
}

.stars-inner::after {
    position: absolute;
    top: 0;
    left: 0;
    color: gold;
    /* content: "\f005 \f005 \f005 \f005 \f005"; */
    content: '★★★★★';
    width: 100%;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
  

.stars-container {
    width: 130px;
    position: relative;
    display: inline-block;
    color: transparent;
}
  
.stars-container:before {
    position: absolute;
    top: -5px;
    left: 0;
    content: '★★★★★';
    zoom:200%;
    color: lightgray;
}
  
.stars-container:after {
    position: absolute;
    top: -5px;
    left: 0;
    content: '★★★★★';
    color: gold;
    zoom:200%;
    overflow: hidden;
}

.stars-container-big {
    position: relative;
    display: inline-block;
    color: transparent;
}
  
.stars-container-big:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    zoom:200%;
    color: lightgray;
}
  
.stars-container-big:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: gold;
    zoom:200%;
    overflow: hidden;
}

/* Style the tab */
.tab {
overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 0px 16px 16px 16px;
transition: 0.3s;
width: 30%;
}

/* Create an active/current tablink class */
.tab button.active {
color: #8e44ad;
border-bottom: 2px solid #8e44ad;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border-top: none;
}


/* PROGRESS BARS */
.product_rating_bar {
    margin-top: 8px;
    width: 100%;
    background-color: lightgray;
}

#rating_bar1, 
#rating_bar2,
#rating_bar3,
#rating_bar4,
#rating_bar5 {
    width: 1%;
}


.rating_bar {
    height: 5px;
    background-color: gold;
}

.seller_response_container::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 95%;
    border-bottom: 10px solid #eff0f5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

/* PRODUCT DETAILS */
.product_details {
    list-style: none!important;
}

.product_details::before {
    content: "\2022";
    color: #8e44ad;
    font-weight: bold;
    display: inline-block; 
    width: 1.5em;
    margin-left: -1.5em;
}

textarea {
    background: #eff0f5!important;
}

textarea:focus, textarea:active {
    box-shadow: none!important;
    background: #eff0f5!important;
    border-color:white;
    outline:none!important;
}


/* ================================ MODALS =================================== */
/* LOGIN */
.btn-gradient {
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: white!important;
    color: white!important;
}

.btn-gradient:focus  {
   box-shadow: none!important;
   border:white!important;
   outline:0!important;
}

.gradient {
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: white!important;
    color: white!important;
}

/* MODAL CONTAINER */
.modal-body {
    padding: 0!important;
    border:0!important;
}

input#login_username_email,
input#login_password,
input#register_email,
input#register_username,
input#register_password,
input#cpass {
    border: none!important;
    border-bottom: 1px solid lightgray!important;
    padding: 0!important;
    font-size: 16px;
    
}

a#btn_view_login_password,
a#btn_view_registration_password,
a#btn_view_cpass {
    border: none!important;
    border-bottom: 1px solid lightgray!important;
}

input#login_username_email:focus,
input#login_password:focus,
input#register_email:focus,
input#register_username:focus,
input#register_password:focus,
input#cpass:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border-bottom: 1px solid lightgray!important;
}

div#login_image {
    /* background-image: url("../../app/assets/images/sample.jpg")!important; */

    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */

    /* Full height */
    height: 100%!important; 

    /* Center and scale the image nicely */
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

div#login_ad {
    background: green!important;
    height: 100%!important; 
    padding: 0!important;
}


/* BACKGROUND IMAGES TO DELETE ONCE FUNCTIONALITY IS AVAILABLE */
div#login_image {
    /* background-image: url("../../assets/images/sample.jpg")!important; */
    background: url("../../assets/images/ad-2.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	height: auto;
	position: relative;
	background-position-y: center;
	background-position-x: right;
}


#cart_image {
    background-image: url("../../assets/images/ad-3.jpeg")!important;
    background-repeat: no-repeat;
    background-size: cover;
	height: auto;
	position: relative;
	background-position-y: center;
	background-position-x: right;
}

.shadow {
    box-shadow: 0 4px 6px 0 hsla(0,0%,0%,0.2)!important;
}

/* ================================ Message Box =================================== */

#message_box {
    position: fixed;
    z-index: 100;
    bottom: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    
}

.message_box__relative {
    position: relative;
}

#message_box .conversations {
    position: absolute;
    width: 700px;
    height: 300px;
    left: -700px;
    top: -261px;
    background-color: #eff0f5;
    display: flex;
    flex-direction: row;
}

.conversations .message_items {
    display: flex;
    flex-direction: column;
}

.message_items__message {
    display: flex;
}

.message_items__message:nth-child(odd) {
    background-color: #efefef;
    width: 240px;
}

.message_details {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid lightgray!important; */
}

.message_details textarea{
    align-self: flex-end;
    width: 100%;
    background:#eff0f5!important;
    border: 2px solid lightgray!important;
}

.message_details-container {
    flex: 1;
    height: 270px;
    border: 1px solid gray;
    border-bottom: 0;
    overflow-y: scroll;
    border: 2px solid lightgray!important;
}

.my-message {
    background-color: antiquewhite;
    border-radius: 10px!important;
    min-height: 40px;
    border-collapse: separate;
    min-width: 180px;
    text-align: left;
    padding: 8px 10px;
    float: right;
    clear: both;
}

.seller-message {
   

    background-color: #dcdede;
    border-radius: 10px!important;
    min-height: 40px;
    border-collapse: separate;
    min-width: 180px;
    text-align: left;
    padding: 8px 10px;
    float: left;
    clear: both;
}

.hidden {
    display: none;
}

button[class^=stripe-button-el] {
    float: right;
    width: 310px;
}

button[class^=stripe-button-el] span {
    background: #edd4f9!important;
    border: 1px solid #c471ed!important;
    color: #9c5abd!important;
    font-weight: 500;
    height: 40px;
    background-image: initial;
    padding: 48px;
    padding-top: 16px;
}



/* ================================ CART MODAL =================================== */


@media screen {
    #printSection {
        display: none;
    }
  }
  
  @media print {
    /* div { border: 1px solid black;}  */
    .print+.print {
        page-break-before: always;
    }
    html, body { height: auto; }
    body * {
      visibility:hidden; 
    }
    #printSection, #printSection * {
      visibility:visible;
    }
    #printSection {
      position:absolute;
      left:0;
      top:0;
    }


    #printThis {
        height:auto!important;
    }
}


  
  




.borderless td, .borderless th {
    border: none;
}

.thead-gray, .tr-gray {
    background-color: #f5f5f5!important;
    border:none!important;
}

.modal-dialog-big {
    overflow-y: initial!important;
}

.bg-gray {
    background-color: #DCDCDC!important;
    border:none!important;
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -300px, 0);
   transform: translate3d(0, -300px, 0);
   opacity: 1;
}

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }
  
  .radio-item input[type='radio'] {
    display: none;
  }
  
  .radio-item label {
    /* color: #666; */
    font-weight: normal;
  }
  
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 1px;
    margin: 0px 2px 0px 6px;
    width: 14px;
    height: 14px;
    border-radius: 11px;
    border: 1px solid #c471ed;
    background-color: transparent;
  }
  
  .radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 9px;
    content: " ";
    display: block;
    background: #c471ed;
  }


/* ================================ PROFILE.PHP  =================================== */
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1.2em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:400%;
    line-height:1.2;
    color:#ddd;
    /* text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #ffc107;
    /* text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    /* text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    /* text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating > label:active {
    position:relative;
    top:2px;
    left:5px;
}

/* ================================ HEADER & FOOTER =================================== */

.dropdown-item {
    z-index:7!important;
}

.dropdown-menu {
    right: 0;
    left: initial;
}

.sticky-top {
    z-index: 6!important;
}

#header-logo {
    background-image: url("../images/kangaroo-logo.png")!important; 
    height: 2.8em;
    width: 2.8em;
    padding-top: -5px;
    background-repeat: no-repeat;
    background-size: 2.8em;
    background-position: 100%;
    padding: 0;
    margin:0;
    /* border: 1px solid white;
    border-radius: 10%; */
    
}


#cart-img {
    background-image: url("../images/shopping-cart-brown.png")!important; 
    height: 2.8em;
    width: 2.8em;
    padding-top: -5px;
    background-repeat: no-repeat;
    background-size: 2.8em;
    background-position: 100%;
    padding: 0;
    margin:0;
}

.navbar-main {
    color:#212121;
    background:#f5f5f5;
}

footer#footer-main {
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.badge {
    background-color: gold!important;
    color: black!important; 
    font-weight: 900;
    font-size: 92%!important;
    font-weight: 100!important;
    
    /* margin: 16px 10px 10px 8px!important; */
}


#search:focus {
    outline:none!important;
    box-shadow: none!important;
}

#cartDropdown_menu::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 22px;
    border-bottom: 10px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

#cartDropdown_menu {
background: #fff;
box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
}

a.footer-link {
    font-weight: 100!important;
}

#header-empty-cart {
    background-repeat: no-repeat;
    background-image: url("../images/empty-cart.gif"); 
    background-size: cover;
    position: relative;
	background-position-y: center;
    background-position-x: center;
    height:10em;

    /* background-image: url(../../assets/images/ad-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	height: 81vh;
	position: relative;
	background-position-y: center;
	background-position-x: right; */
}


/*============================ PAGE LOADER ==========================*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  
/*============================ INDEX ==========================*/

div.description-header {
    font-weight: bold!important;
    padding-top: 5px;
}

div.description-supporting-text {
    color: slategray!important;
}

div#description-quality {
    height: 4em!important;
    width: 4em!important;
    background-size: 4em!important;
    background-repeat: no-repeat!important;
    background-image: url("../images/quality-gradient-filled.png")!important; 
}

div#description-shipping {
    height: 4em!important;
    width: 4em!important;
    background-size: 4em!important;
    background-repeat: no-repeat!important;
    background-image: url("../images/delivery-truck-gradient-filled.png")!important; 
}

div#description-save {
    height: 4em!important;
    width: 4em!important;
    background-size: 4em!important;
    background-repeat: no-repeat!important;
    background-image: url("../images/save-gradient-filled.png")!important; 
}

div#description-hours {
    height: 4em!important;
    width: 4em!important;
    background-size: 4em!important;
    background-repeat: no-repeat!important;
    background-image: url("../images/24-hours-gradient-filled.png")!important; 
}

/*============================ EFFECTS ==========================*/

a.hover_btn {
    background: white;
    border: 1px solid lightgray!important;
    color: gray!important;
}

a.hover_btn:hover,
a.hover_btn:focus,
a.hover_btn:active {
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: white!important;
    font-weight: bolder!important;
    color: white!important;
}

.no-border:focus {
   outline: none!important;
   border:0!important;
}

/*============================ STORE PHP ==========================*/
.store_page_logo {
    width:13em;
    height:13em;
}

.rating-font {
    font-size:5em;
}

.border-bottom,
.underline {
    border-bottom: 1px solid;
}

/* .underline {
    text-decoration: underline;
} */

input:active,
input:hover,
input:focus{
    box-shadow:none!important;
    outline:none!important;
    border-color:lightgray!important;
    /* background-color:transparent; */
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:hover{
    box-shadow:none!important;
    outline:none!important;
    background-color:transparent;
}

/*============================ BANNER ADS ==========================*/

#website-name {
    color:#3F3F3F;
}
#banner_ad-1{
    background: url("../../assets/images/ad-5.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	height: 82.5vh;
	position: relative;
	background-position-y: center;
	background-position-x: right;
}
/* .carousel-inner .carousel-item {
	transition: -webkit-transform 2s ease-in-out;
	transition: transform 2s ease-in-out;
    transition: transform 2s ease, -webkit-transform 2s ease-in-out;
}

.carousel-1 {
	background-image: url(../../assets/images/ad-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	height: 81vh;
	position: relative;
	background-position-y: center;
	background-position-x: right;
}

.carousel-2 {
	background: url(../../assets/images/ad-1.jpeg);
	background-repeat: no-repeat;
    background-size: cover;
	height: 81vh;
	position: relative;
	background-position-y: bottom;
	background-position-x: right;
}

.carousel-3 {
	background: url(../../assets/images/ad-3.jpeg);
	background-repeat: no-repeat;
    background-size: cover;
	height: 81vh;
	position: relative;
	background-position-y: center;
	background-position-x: right;
}

.carousel-4 {
	background: url(../../assets/images/ad-2.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	height: 81vh;
	position: relative;
	background-position-y: center;
	background-position-x: right;
} */


.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: lightgray;
    overflow: hidden;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: gold;
}
.empty-stars:before, .full-stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 11pt;
}
/* .empty-stars:before {
    -webkit-text-stroke: 1px #848484;
} */
/* .full-stars:before {
    -webkit-text-stroke: 1px orange;
} */

.ratings-big {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: lightgray;
    overflow: hidden;
}

.full-stars-big {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: gold;
}
.empty-stars-big:before, .full-stars-big:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 20pt;
}

/*============================ DESKTOP ==========================*/

@media only screen and (min-width: 961px) {
    /********* INDEX **********/
    /* CARD IMAGES */
    a img.card-profilepic {
        height:370px!important;
    }

    div img.card-profilepic-catalog {
        height:275px!important;
    }


    /********** HEADER *********/

    /* #website_name {
        font-family: 'Fredoka One', cursive!important;
        font-size: 3em!important;
    } */

    #livesearch {
        /* padding-left: 28px; */
        position: absolute;
        z-index: 2!important;
        margin-top: 3em!important;
    }
    
    .livesearch-item{
        /* min-width: 35.9vw!important; */
        /* max-width:41.7vw!important; */
        min-width:43em!important;
        max-width:43em!important;
        background:  #fff;
        font-size: 14px!important;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 5;
    }


    #cartDropdown_menu {
        left:-150px;
        top: 50px;
    }

    /* #profileDropdown {
        padding-top:14px;
    } */

    
    #login-reg-header {
        width: 9vw!important;
        font-size: 10px!important;
        margin-top: 7px;
    }
    
    #search-header {
        /* margin-left: 10em!important; */
        /* min-width: 30em!important; */
        /* width: 38em!important; */
        /* width: 48vw!important; */
        /* width:auto; */
        background-image: url("../../assets/images/search-gradient.png")!important;
        background-repeat: no-repeat;
        background-size: 1.2em;
        background-position: 96%;
        padding-left:30px;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }

    /* PRODUCT PAGE */
    #btn_add_to_cart,
    #btn_add_to_cart_again {
        width:50%;
    }

    /* PROFILE PAGE */
    /* .eye-profile {
        padding:7px;
    } */

    /* REUSABLE */
	.vanish-lg {
		display: none;
	}

	.appear-lg {
		display: block;
    }

    
}

/*==============================TABLET ==============================*/

@media only screen and (min-width:426px) and (max-width:960px) { 
    /* CARD IMAGES */
    a img.card-profilepic {
        height:320px!important;
    }

    div img.card-profilepic-catalog {
        height:275px!important;
    }

    /* FONT SIZE */
    h1 {
        /* 21px */
        font-size: 1.7rem; 
    }
    
    h2 {
        /* 18 px */
        font-size: 1.6rem;
    }
    
        /* 15px */
    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    h5 {
        font-size: 1.3rem;
    }

    h6 {
        font-size: 1.2rem;
    }

    p, div, a.btn, button, .text-responsive ,.product_details, textarea, label, .small {
        font-size: .95rem!important;
    }

    .btn-lg {
        font-size: 1.2rem!important;
    }

    /* HEADER */
    #website_name {
        font-family: 'Fredoka One', cursive!important;
        font-size: 2em!important;
    }

    #livesearch {
        /* padding-top: 3em; */
        position: absolute;
        z-index: 2!important;
        margin-top: 3em!important;
    }

    
    .livesearch-item{
        min-width: 39.5vw!important;
        max-width: 39.5vw!important;
        background:  #fff;
        font-size: 12px!important;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 10;
    }
    

    /* #profileDropdown {
        padding-top:10px;
    }
    

    #profileDropdown_menu {
        display: block;
        position: absolute;
        top: 25px;
        left: 24em;
    } */

    #cartDropdown_menu {
        min-width:15em!important;
    }

    #login-reg-header {
        /* width: 10vw!important; */
        font-size: 10px!important;
        margin-top: 8px!important;
        width: 13vw!important;
    }
    
    #search-header {
        /* width: 50vw!important; */
        background-image: url("../../assets/images/search-gradient.png")!important;
        background-repeat: no-repeat;
        background-size: 1.2em;
        background-position: 96%;
        padding-left:15px;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }

    /* FOOTER */
    a.footer-link {
        font-weight: 100!important;
        font-size:11px;
    }

    /* REUSABLE */
    .vanish-md {
		display: none;
	}

	.appear-md {
		display: block;
    }
    
    /* ========= PROFILE.PHP  ========== */
    .rating {
        float:left;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
    follow these rules. Every browser that supports :checked also supports :not(), so
    it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1.2em;
        padding:0 .1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:400%;
        line-height:1.2;
        color:#ddd;
        /* text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5); */
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: #ffc107;
        /* text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5); */
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: gold;
        /* text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #ea0;
        /* text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:5px;
    }

    .stars-container {
        width: 104px;
    }

    .stars-outer {
        position: relative;
        overflow: hidden;
        display: inline-block;
        font-family: 'Font Awesome 5 Free';
        width: 69px;
        height: 15px;
    }

    /* PRODUCT PAGE */
    #btn_add_to_cart,
    #btn_add_to_cart_again {
        width:50%;
    }

    /* CHATBOX */
    #message_box .conversations {
        position: absolute;
        width: 657px;
        height: 300px;
        left: -653px;
        top: -261px;
        background-color: #eff0f5;
        display: flex;
        flex-direction: row;
    }
}

/*==============================MOBILE==============================*/

@media only screen and (max-width:425px) { 
    /********* INDEX **********/
    /* CARD IMAGES */
    a img.card-profilepic {
        height:230px!important;
    }

    div img.card-profilepic-catalog {
        height:275px!important;
    }


    /* BANNER AD 1 */
    #banner_ad-1 {
        background: url("../../assets/images/ad-5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 39vh;
        position: relative;
        background-position-y: right;
        background-position-x: left;
    }

    /* FONT SIZE */
    h1 {
        /* 21px */
        font-size: 1.5rem; 
    }
    
    h2 {
        /* 18 px */
        font-size: 1.4rem;
    }
    
        /* 15px */
    h3 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1.1rem;
    }

    h6 {
        font-size: 1rem;
    }

    p, div, a.btn, button, .text-responsive ,.product_details, textarea, label, .small {
        font-size: .9rem!important;
    }

    .btn-lg {
        font-size: 1.1rem!important;
    }
    
    

    #livesearch {
        /* padding-left: 28px; */
        position: absolute;
        z-index: 2!important;
        margin-top: 3em!important;
    }

    /* HEADER */
    .livesearch-item{
        max-width:79.5vw!important;
        min-width: 68.5vw!important;
        background:  #fff;
        font-size: 14px!important;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 5;
    }


    


    #website_name {
        font-family: 'Fredoka One', cursive!important;
        font-size: 3em!important;
    }

    #login-reg-header {
        /* width: 10vw!important; */
        font-size: 10px!important;
        margin-top: 8px!important;
        width: 50vw!important;
    }
    
    #search-header {
        /* width: 100%; */
        background-image: url("../../assets/images/search-gradient.png")!important;
        background-repeat: no-repeat;
        background-size: 1.2em;
        background-position: 96%;
        padding-left:10px;
        font-size: 10px;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }

    /* FOOTER */
    a.footer-link {
        font-weight:100!important;
        font-size:10px;
    }

    /* PRODUCT PAGE */
    .seller_response_container::before {
        right: 80%;
    }

    /* REUSABLE */
	.vanish-sm {
		display: none;
	}

	.appear-sm {
		display: block;
    }
    
    /* ===== PROFILE.PHP  ========= */
    .rating {
        float:left;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
    follow these rules. Every browser that supports :checked also supports :not(), so
    it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1.2em;
        padding:0 .1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:400%;
        line-height:1.2;
        color:#ddd;
        /* text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5); */
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: #ffc107;
        /* text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5); */
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: gold;
        /* text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #ea0;
        /* text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:5px;
    }

    .col-sm-1 { 
		width: 8.33%; 
	} 

	.col-sm-2 { 
		width: 16.66%; 
	}

	.col-sm-3 { 
		width: 25%; 
	}

	.col-sm-4 { 
		width: 33.33%; 
	}

	.col-sm-5 { 
		width: 41.66%; 
	}

	.col-sm-6 { 
		width: 50%; 
	}

	.col-sm-7 { 
		width: 58.33%; 
	}

	.col-sm-8 { 
		width: 66.66%; 
	}

	.col-sm-9 { 
		width: 75%; 
	}

	.col-sm-10 { 
		width: 83.33%; 
	}

	.col-sm-11 { 
		width: 91.66%; 
	}

	.col-sm-12 { 
		width: 100%; 
		/*100 divided by 12 x 12*/
    }
    
    .text-sm-center {
        text-align: center;
    }

    .text-sm-right {
        text-align: right;
    }

    .mt-sm-5 {
        margin-top: 3em;
    }

    .mb-sm-5{
        padding-bottom:3em;
    }

    .btn-sm-block {
        display: block;
    }

    .pl-sm-4 {
        padding-left:2em;
    }

    .pt-sm-4 {
        padding-top:2em;
    }

    .px-sm-0{
        padding-left:0;
        padding-right:0;
    }

    .px-sm-1{
        padding-left:1em;
        padding-right:1em;
    }

    .px-sm-2{
        padding-left:1.5em;
        padding-right:1.5em;
    }

    .px-sm-3{
        padding-left:2em;
        padding-right:2em;
    }

    .pr-sm-0{
        padding-right:0!important;
    }

    .p-sm-0 {
        padding:0!important;
    }

    .p-sm-2 {
        padding:1em!important;
    }

    .p-sm-p5 {
        padding:.5em!important;
    }

    .float-sm-right{
        float: right;
    }

    #profileDropdown_menu {
        /* display: block; */
        /* position: absolute; */
        top:25px;
        width:50%;
    }

   
    .stars-container {
        width: 104px;
    }

    /* PRODUCT PAGE */
    #btn_add_to_cart,
    #btn_add_to_cart_again {
        width:100%;
    }

    
    

    #message_box .conversations {
        position: absolute;
        width: 300px;
        height: 300px;
        left: -241px;
        top: -303px;
        background-color: #eff0f5;
        display: flex;
        flex-direction: column;
    }

    /* SHOP */
    .store_page_logo {
        width:8em;
        height:8em;
    }

    .flex-sm-column {
        flex-direction: column;
    }

    .mr-sm-4 {
        margin-right: 1.5rem;
    }
   
}